.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 75px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}


tr:nth-child(even) {
  background: darkgray;
}

tr:nth-child(odd) {
  background: lightgray;
}

tr {
  font-family: Arial, Helvetica, sans-serif;
  width:100%; 
  font-size: 18px; 
  text-align: left;
}

thead {
  font-size: 24px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

td {
  padding:10px;
  overflow: hidden;
}

#root {
  width:100%;
  height:100%;
}

#cardImage {
  height: 120px;
  padding-right: 10px;
}

#cardTable {
  width: 100%;
}

#searchBox {
    position: absolute;
    left: 0;
    margin-top: 16px;
    width: 155px;
}
